:root {
  --primary-color: #3b413c;
  --background-color: #fff;
  --secondary-color: #9db5b2;
  --text-color-on-light: #1d201e;
  --text-color-on-dark: #fff;
  --secondary-text-color: #330000;
  --accent-color: #daf0ee;
  --secondary-accent-color: #94d1be;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--background-color);
  width: 100%;
}

header {
  background-color: var(--primary-color);
  color: var(--text-color-on-dark);
  padding: 1em;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 3; /* Ensure header is above nav */
}

nav {
  background-color: var(--secondary-color);
  color: var(--text-color-on-light);
  text-align: center;
  position: sticky;
  width: 100%;
  z-index: 2; /* Ensure nav is on top */
}

nav a {
  display: block;
  color: var(--text-color-on-light);
  text-decoration: none;
  padding: 1vh;
  z-index: 3;
  transition: background-color 0.3s ease; /* Create a transition for a more seamless user interaction */
}
#hero img {
  width: 100%;
  display: block;
}
nav a:hover {
  background-color: var(--accent-color); /* Darken the background on hover */
}
main {
  display: grid;
  gap: 20px;
  padding: 2vh;
}
footer {
  background-color: var(--secondary-color);
  color: var(--text-color-on-light);
  text-align: center;
  padding: 1em 0;
  position: sticky;
  bottom: 0;
  width: 100%;
}
.banner {
  display: none;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.banner p {
  margin: 0;
}

#close-banner-btn {
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  background-color: #f2f2f2;
  padding: 10px;
  border: 2px solid var(--secondary-color);
}
.cta-section {
  background-color: var(--accent-color);
  padding: 20px;
  text-align: center;
  color: var(--text-color-on-light); /* Text color for better contrast */
}
.cta-button {
  display: inline-block;
  padding: 1vh 2vh;
  background-color: var(--secondary-accent-color);
  text-decoration: none;
  border-radius: 5px;
  color: var(--secondary-text-color);
  transition: background-color 0.3s ease;
}
.cta-button:hover {
  background-color: var(
    --secondary-color
  ); /* Darken the button color on hover */
}
.weather {
  width: 100%;
  text-align: center;
}
#temp {
  background-color: var(--accent-color);
  padding: 5px;
}
#forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.main-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  grid-template-columns: 1fr 1fr; /* Create two columns */
  gap: 20px;
}
.main-content img {
  width: 80%;
  height: auto;
  box-shadow: -1vh 1vh 3px var(--secondary-accent-color);
}
.left-content {
  grid-column: 1 / 2;
  width: 100%;
  background-color: var(--accent-color);
  padding: 25px;
  color: var(--text-color-on-light);
  border: 2px solid var(--secondary-color);
}
.stats {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 20px;
  border: 2px solid var(--secondary-color);
  box-shadow: -1vh 1vh 3px var(--secondary-accent-color);
}
.right-content {
  grid-column: 2 / 3;
  width: 100%;
  border: 2px solid var(--secondary-color);
}
.restaurant {
  padding: 10px;
}
.restaurant figure {
  position: relative;
  overflow: hidden;
}

.restaurant figure figcaption {
  position: absolute;
  top: 100%; /* Position below the image */
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  padding: 10px;
  margin: 0;
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s ease; /* Fade-in effect */
}

.restaurant figure:hover figcaption {
  opacity: 1; /* Make the caption visible on hover */
}

.restaurant figure:hover img {
  cursor: pointer;
  filter: grayscale(100%);
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.join {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2vh;
}
.join label {
  display: block;
  margin-bottom: 5px;
}
.join form {
  background-color: var(--secondary-accent-color);
  padding: 3vh;
  border-radius: 15px;
}
.join input[type="text"],
.join input[type="email"],
.join input[type="tel"],
.join select,
.join textarea {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.join input[type="submit"] {
  background-color: var(--secondary-color);
  color: var(--text-color-on-light);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.join input[type="submit"]:hover {
  background-color: var(--primary-color); /* Darken the button color on hover */
}
.join .membership-benefits {
  background-color: var(--primary-color);
  color: var(--text-color-on-dark);
  padding: 3vh;
  border-radius: 15px;
}
.join .field {
  background-color: var(--accent-color);
  padding: 1vh;
  margin-bottom: 1vh;
  border-radius: 1.5vh;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
}

.directory {
  width: 100%;
  margin: 0 auto;
  justify-content: center; /* Center items horizontally */
  gap: 20px; /* Adjust the space between items */
}

.directory .menu {
  display: block;
}

#forecast #day {
  margin: 5px;
  padding: 5px;
  background-color: var(--accent-color);
  border: 1px solid var(--primary-color);
}
#cards {
  background-color: var(--accent-color);
  padding: 20px;
  gap: 20px;
  border-radius: 15px;
  display: grid;
  box-shadow: var(--secondary-accent-color) -0.5vh -0.5vh 0.5vh;
}
#cards a {
  font-size: 50px;
}
#cards * {
  background-color: var(--accent-color);
  width: 100%;
  text-align: center;
}
.grid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: grid;
}
.grid div {
  margin-bottom: 0;
}
.grid section {
  text-align: center;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  height: 100%;
  background-color: var(--primary-color);
  transition: transform 0.3s ease;
  padding: 10px;
}

.grid section:hover {
  transform: translateY(-5px); /* Add a slight lift on hover */
}

.grid h2 {
  color: var(--primary-color);
}

.list {
  display: block;
  grid-template-columns: 1fr;
}

.list section {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
  width: 90%;
}
.list section:hover {
  transform: translateX(5px); /* Add a slight shift on hover */
}
.list img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}
