/* https://coolors.co/bfbdc1-6d6a75-37323e-deb841-de9e36 */
* {
    margin: 0;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
    transition: background-color 0.6s ease, color 0.3s ease; 
}
header {
    text-align: center;
    padding: 0;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    margin-bottom: 0;
}
header span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: #E6F2F9;
    color: #346F68;
}
header img {
    width: 50px;
    height: auto;
    margin-right: 10%;
}

/* mobile style menu */
nav a {
    display: flex;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    background-color: var(--accent-color);
    flex-direction: column;
    color: var(--text-color);
}
nav a:hover {
    background-color: var(--secondary-accent-color);
}
#current {
    font-weight: bolder;
    background-color: var(--secondary-accent-color);
}

/* hamburger menu */
#menu {
	border: 0;
    padding: 0;
	background: none;
	color: #000;
    margin-bottom: 0;
}
#menu::before {
	content: "☰";
    font-size: 2rem;
}
#menu.open::before {
	content: "X";
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: var(--secondary-accent-color);
    margin-bottom: 0;
    padding-bottom: 0;
}
.navigation a {
	display: none;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	color: var(--text-color);
}
.navigation a:hover {
	background-color: var(--secondary-accent-color);
	font-weight: 700;
}
/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}
.active::before { 
	content: "📍";  /* just a wayfinding symbol for the user */
}
.stuff {
	margin: 0.5em;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
}

/* Dark Mode */
.switch {
    position: absolute;
    top: 1.5rem;
    right: 4rem;
}

.switch label {
    width: 55px;
    height: 23px;
    background-color: #999;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch input[type="checkbox"] {
    visibility: hidden;
}

.switch label:after {
    content: '';
    width: 21px;
    height: 21px;
    border-radius: 50px;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: 100ms;
    background-color: white;
}

.switch .look:checked + label:after {
    left: 32px;
}

.switch .look:checked + label {
    background-color: var(--accent-color);
}

.switch label {
    font-size: 1rem; /* Adjust font size as needed */
    line-height: 1.5rem; /* Match height of the switch */
    text-align: center;
    color: black; /* Adjust color as needed */
}

.switch .emoji {
    margin-left: 1rem; /* Adjust spacing between switch and emoji */
    font-size: 1rem;
}

.dark-mode {
    /* Adjust styles for dark mode */
    --primary-color: var(--dark-primary-color);
    --secondary-color: var(--dark-secondary-color);
    --text-color: var(--dark-text-color);
    --accent-color: var(--dark-accent-color);
    --secondary-accent-color: var(--dark-secondary-accent-color);
    --background-color: var(--dark-background-color);
}


/* main body */
main h1 {
    text-align: center;
    color: var(--secondary-color);
}
.card {
    display: block;
    margin: 5%;
    border-style: solid;
    border-radius: 5px;
}
.card h2{
    margin: auto;
    padding: 5px;
    background-color: var(--secondary-accent-color);
}
.card-container {
    display: grid;
    grid-template-columns: 1fr;
}
footer {
    display: flex;
    background-color: var(--accent-color);
    margin: 0;
    padding: 0;
    margin-bottom: -20px;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero picture,
.hero img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
    text-align: center;
    z-index: 2;
}

.overlay h1 {
    margin: 0;
}

footer iframe {
    display: block;
    margin: 20px auto;
}
.confirmation {
    margin-top: 50px;
}
/* color variables */
:root {
    --primary-color: #D8EAF3;
    --secondary-color: #83C5BE;
    --text-color: #154E51;
    --accent-color: #EAAF99;
    --secondary-accent-color: #E29578;
    --background-color: #eee;
    --dark-primary-color: #37323e; /* Dark mode variant */
    --dark-secondary-color: #6D6A75; /* Dark mode variant */
    --dark-text-color: #eae8eb; /* Dark mode variant */
    --dark-accent-color: #DE9E36; /* Dark mode variant */
    --dark-secondary-accent-color: #DEB841; /* Dark mode variant */
    --dark-background-color: #37323E; /* Dark mode background */
}